body{
    margin: 0;
    padding: 0;
    background-color: gray;
}
nav{
    
    height: 70px;
    width: 100%;
    background-color: rgb(138, 31, 31);
}
    
h1{
    position:absolute
    flot:left;
    
}